<div class="input-group recording-form__picker-input">
  <%= text_field_tag "#{schedule_form.object_name}[#{date_method}_hash][date]",
                     schedule_form.object.send(date_method) && schedule_form.object.send(date_method).strftime("%A %m/%d/%Y"),
                     class: "form-control pickadate",
                     placeholder: "Date" %>
  <span class="input-group-btn">
    <button class="btn <%= has_error(schedule_form.object, date_method) ? "btn-danger" : "btn-default" %>"
            data-trigger-pickadate="recording_current_schedule_attributes_<%= date_method %>_hash_date"
            type="button">
      <%= fa_icon "calendar" %>
    </button>
  </span>
</div>
