<%= form_for recording, method: :delete, html: {"data-confirm" => I18n.t('detail.destroy_comfirm')} do %>
  <button type="submit" class="btn btn-large btn-danger">
    <%= fa_icon "stop", text: t('in_progress.try_again.button') %>
  </button>
<% end %>
