<div class="col-md-10 col-md-offset-1 recording text-left">
  <% if recording.current_schedule %>
    <%= link_to recording_path(recording) do %>
      <div class="recording__description">
        <h3 class="recording__name">
          <%= recording.name %>
          <%= schedule_duration_in_words recording.current_schedule %>
        </h3>

<!-- Dočasně pro debug účely zobrazit celé časové nastavení videa -->
        <%= render_cell :recording, :setup, recording: recording %>

<!--
        <div class="recording__date recording__date--light">
          <%= recording.current_schedule.start_at.strftime("%b. %d, %Y") %> -
          <%= recording.current_schedule.stop_at.strftime("%b. %d, %Y") %>
        </div>
 -->

        <%= recording_state_text recording %>
      </div>

      <div class="recording__image"
           <% if recording.preview.present? %>style="background-image:url('<%= recording.preview.url(:thumb) %>');"<% end %>
           >
        <div class="recording__image-round"></div>
        <%= recording_image_icon_class recording %>
      </div>
    <% end %>
  <% else %>
    TODO - You have X more attempts to create time-lapse you will love.
    <%= link_to "Create new one", edit_recording_path(recording) %>
  <% end %>

  <div class="clearfix"></div>
</div>
