<div class="col-md-8 col-md-offset-2 text-center">
  <h1><%= t 'checkout.title' %></h1>

  <%= alerts %>

  <hr class="v-space large">

  <%= render @recording %>

  <hr class="v-space large">

  <div class="pull-right">
    <%= form_for @recording, url: checkout_recording_path(@recording) do |form|%>
      <button type="submit" class="btn btn-lg btn-success">
        <%= fa_icon "arrow-right", text: t('checkout.continue'), right: true %>
      </button>
    <% end %>
  </div>

  <div class="pull-left recording-checkout__back">
    <%= link_to edit_recording_path(@recording) do %>
      <%= fa_icon "arrow-left", text: t('checkout.back') %>
    <% end %>
  </div>
</div>