<div class="col-lg-8 col-lg-offset-2 text-center">
  <h1><%= @recording.name %></h1>

  <hr class="v-space small" />

  <%= render_cell :recording, :setup, recording: @recording %>

  <hr class="v-space medium" />

  <h2><%= t 'choosing.title' %></h2>

  <hr class="v-space small" />

  <p><%= t 'choosing.text.html' %></p>

  <hr class="v-space large" />

</div>

<div class="col-sm-12 text-center">
  <% @recording.current_schedule.videos.in_groups_of(2).each do |video_group| %>
    <div class="row">
      <% video_group.each do |video| %>
        <div class="col-sm-6">
          <!-- the player -->
          <%= render_cell(:flowplayer, :show,
                          video: video,
                          ui_options: {length: true, time: true},
                          choose: {recording: @recording,
                                   video:     video},
                          info:  {duration: video.duration,
                                  size:     video.video_file_size,
                                  frames:   video.video_fps * video.duration}) if video %>
        </div>
      <% end %>
    </div>
    <hr class="v-space small">
  <% end %>
</div>

<div class="clearfix"></div>
<%= hr_with_text t('choosing.or')%>

<div class="col-lg-8 col-lg-offset-2 text-center">

  <h2><%= t 'choosing.try_again.title' %></h2>

  <p><%= t 'choosing.try_again.text.html' %></p>

  <%= render partial: "destroy_recording", locals: {recording: @recording} %>
</div>
