<div class="col-lg-8 col-lg-offset-2 text-center">
  <h1><%= @recording.name %></h1>

  <hr class="v-space small" />

  <%= render_cell :recording, :setup, recording: @recording %>

  <hr class="v-space medium" />

  <h2><%= t 'in_progress.dont_worry' %></h2>

  <p>
    <% if @recording.current_schedule.recording_finished? %>
      <%= t 'in_progress.dont_worry_text.html', time: distance_of_time_in_words_to_now(@recording.current_schedule.make_utc_time(@recording.stop_at)), email: current_user.email %>
    <% else %>
      <%= t 'in_progress.generating_video_text.html', email: current_user.email %>
    <% end %>
  </p>
</div>

<div class="clearfix"></div>

<%= hr_with_text t('in_progress.or')%>

<div class="col-lg-8 col-lg-offset-2 text-center">
  <h2><%= t 'in_progress.try_again.title' %></h2>

  <p><%= t 'in_progress.try_again.text.html' %></p>

  <%= render partial: "destroy_recording", locals: {recording: @recording} %>
</div>
