<div class="col-lg-8 col-lg-offset-2 text-center">
  <h1>List of all your time-lapses</h1>
  <h3><small>You have <%= @recordings.count %> time-lapses</small></h3>

  <hr class="v-space medium">

  <%= link_to "Create new time-lapse", new_recording_path, class: "btn btn-lg btn-success" %>

  <hr class="v-space medium">

  <%= render @recordings %>
</div>
