<!-- TODO rozdělit na new a edit -->
<div class="col-md-8 col-md-offset-2 text-center">
  <h1>Set up your Time-lapse video</h1>
  <h2><small>just 2 simple steps</small></h2>

  <%= form_for @recording, html: {id: "recording-form", role: "form", class: "recording-form"} do |recording_form| %>

    <% @recording.build_current_schedule unless @recording.current_schedule
       @recording.current_schedule.camera_id = current_user.cameras.first.id if current_user.cameras.length == 1 %>

    <%= recording_form.fields_for :current_schedule do |schedule_form| %>

      <% schedule = schedule_form.object
         filter_exists = !!schedule.filter
         schedule.build_filter unless filter_exists %>

      <div class="recording-form_box recording-form_step-1">
        <h3>1. Select a camera</h3>
        <p>Choose a camera from which you want to create a time-lapse.</p>
        <div class="form-group col-xs-4 col-xs-offset-4">
          <%= schedule_form.collection_select :camera_id,
                                              current_user.cameras.sort {|a,b| a.shortname <=> b.shortname},
                                              :id, :shortname,
                                              {include_blank: t('form.choose_camera')},
                                              {class: "form-control js-camera-select"
                                               #,
                                               # :"data-cameras" => current_user.cameras.map {|c|
                                               #                      {id: c.id, shortname: c.shortname}
                                               #                    }.to_json
                                               } %>
        </div>

        <div class="clearfix"></div>
      </div>

      <div id="recording-form_step-2" class="<% unless schedule.camera_id? %>hidden<% end %> form-horizontal">
        <div class="recording-form_box">
          <h3>2. Set period</h3>
          <p>Set the time period from which time-lapse will be created.</p>

          <div class="col-lg-10 col-lg-offset-1 text-left">

            <!-- Start -->
            <div class="form-group form-horizontal <%= field_has_error_class schedule, :start_at %>">
              <label class="control-label col-xs-2 text-right">Start</label>

              <%= render partial: "date_picker", locals: {schedule_form: schedule_form, date_method: :start_at} %>

              <div class="recording-form__time-inputs form-inline">
                <%= time_input "#{schedule_form.object_name}[start_at_hash]", schedule.start_at, schedule.start_at_hash, ["12", "00", "AM"]%>
              </div>

              <div class="col-xs-offset-2 col-xs-10 recording-form__inputs-group">
                <%= errors_for schedule, :start_at %>
              </div>
            </div>

            <!-- Stop -->
            <div class="form-group form-horizontal <%= field_has_error_class schedule, :stop_at %>">
              <label class="control-label col-xs-2 text-right">Stop</label>

              <%= render partial: "date_picker", locals: {schedule_form: schedule_form, date_method: :stop_at} %>

              <div class="recording-form__time-inputs form-inline">
                <%= time_input "#{schedule_form.object_name}[stop_at_hash]", schedule.stop_at, schedule.stop_at_hash, ["11", "59", "PM"]%>
              </div>

              <div class="col-xs-offset-2 col-xs-10 recording-form__inputs-group">
                <%= errors_for schedule, :stop_at %>
              </div>
            </div>

            <!-- Timezone -->
            <div class="recording-form__timezone-text-row js-timezone-text-row hidden form-group">
              <div class="col-xs-offset-2">
                <span class="js-timezone-text-detected">
                  <span class="js-timezone-name"><%= schedule.active_support_timezone.to_s if schedule.active_support_timezone %></span>
                  <%= link_to_void "Wrong time zone?", class: "js-timezone-change" %>
                </span>
                <span class="js-timezone-text-detecting"><%= fa_icon "refresh spin", text: "Detecting timezone", right: true %></span>
              </div>
            </div>

            <div class="js-timezone-select-row form-group form-horizontal <%= field_has_error_class schedule, :timezone %>">
              <div class="col-xs-2 text-right">
                <%= schedule_form.label :timezone, class: "control-label" %>
              </div>

              <div class="recording-form__timezone-select">
                <%= schedule_form.select :timezone,
                                         ActiveSupport::TimeZone.all.map {|zone| [zone.to_s, zone.tzinfo.name]},
                                         {include_blank: "- Choose timezone -"},
                                         {class: "js-timezone-select form-control"} %>
              </div>

              <div class="col-xs-offset-2 col-xs-10 recording-form__inputs-group">
                <%= errors_for schedule, :timezone %>
              </div>
            </div>

            <!-- Filtr -->
            <div class="form-group">
              <div class="js-filter-toggle <%= "hidden" if filter_exists %>">
                You can set a <strong>time filter</strong> to record only between certain period of the day. <%= link_to_void "+ Add time filter" %>
              </div>

              <div class="js-filter <%= "hidden" unless filter_exists %>">
                <%= schedule_form.fields_for :filter do |filter_form| %>
                  <% filter = filter_form.object %>
                  <div class="<%= field_has_error_class filter, :from %> col-xs-2 text-right recording-form__filter-label">
                    <%= filter_form.label "#{filter_form.object_name}[from_hash]", "Record from", class: "control-label" %>
                  </div>

                  <div class="<%= field_has_error_class filter, :from %> form-inline recording-form__time-inputs">
                    <%= time_input "#{filter_form.object_name}[from_hash]", filter.from, filter.from_hash, [nil, nil, "AM"]%>
                    <%= errors_for filter, :from %>
                  </div>

                  <div class="<%= field_has_error_class filter, :to %> recording-form__filter-label-to text-right ">
                    <%= filter_form.label "#{filter_form.object_name}[to_hash]", "To", class: "control-label" %>
                  </div>

                  <div class="<%= field_has_error_class filter, :to %> form-inline recording-form__time-inputs">
                    <%= time_input "#{filter_form.object_name}[to_hash]", filter.to, filter.to_hash, [nil, nil, "PM"]%>
                    <%= errors_for filter, :to %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>

        <button type="submit" class="pull-right btn btn-lg btn-success">
          <%= fa_icon "arrow-circle-right", text: "Create time-lapse", right: true %>
        </button>
      </div>
    <% end %>
  <% end %>
</div>
