<div class="col-lg-8 col-lg-offset-2 text-center">
  <h1><%= @recording.name %></h1>

  <hr class="v-space small" />

  <%= render_cell :recording, :setup, recording: @recording %>

  <hr class="v-space medium" />

  <%= render_cell :flowplayer, :show, video: @recording.final_video, ui_options: {length: true, time: true} %>

  <hr class="v-space medium" />

  <%= link_to "Download time-lapse", download_recording_path(@recording), class: "btn btn-large btn-primary" %>
</div>
