<div class="flowplayer <%= @ui_options %>"
     data-swf="/flowplayer/flowplayer.swf"
     data-ratio="<%= @ratio %>">

  <% if @choose %>
    <div class="video-choose">
      <%= form_for @choose[:recording], url: choose_video_recording_path(@choose[:recording], video_id: @choose[:video].id) do %>
        <button type="submit" class="btn btn-success">
          <%= @choose_icon %>
        </button>
      <% end %>
    </div>
  <% end %>

  <% if @info %>
    <div class="video-params">
      <div class="video-params__inner">
        <div class="video-params__title"><%= @info[:duration] %> seconds</div>

        <div class="video-params__subtitle">
          <span class="push"><%= @info[:frames].round(-1) %> frames</span>
          <span><%= number_to_human_size(@info[:size], precision: 2) %></span>
        </div>
      </div>
    </div>
  <% end %>

  <video preload="metadata" <%= @player.keys.join(" ") %>>
    <source src="<%= @video.url %>" type="<%= @video.content_type %>">
  </video>
</div>
