<!-- LA feedback start -->
<script type="text/javascript" id="la_x2s6df8d" src="//support.click2stream.com/scripts/track.js"></script>
<img src="//support.click2stream.com/scripts/pix.gif" onLoad="LiveAgentTracker.createButton('6d3e61fa', this);" />
<!-- LA feedback end -->
<div id='laPlaceholder'></div>
<script type="text/javascript">
  (function(d,t) {
    var script = d.createElement(t); script.id = 'la_x2s6df8d'; script.async = true;
    script.src = '//support.click2stream.com/scripts/track.js';
    var image = d.createElement('img'); script.async = true;
    image.src = '//support.click2stream.com/scripts/pix.gif';
    script.onload = script.onreadystatechange = function() {
        var rs = this.readyState; if (rs && (rs != 'complete') && (rs != 'loaded')) return;
        LiveAgentTracker.createButton('8deb3582', this);
    };
    var placeholder = document.getElementById('laPlaceholder');
    placeholder.parentNode.insertBefore(script, placeholder);
    placeholder.parentNode.insertBefore(image, placeholder);
    placeholder.parentNode.removeChild(placeholder);
  })(document, 'script');
</script>

<!-- Live Agent feedback -->
<script type="text/javascript">
(function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
'//support.click2stream.com/scripts/track.js',
function(e){ LiveAgent.createButton('177901cb', e); });
</script>
