<div class="col-lg-8 col-lg-offset-2 text-center">
  <h1><%= t('make_new.title_html') %></h1>

  <% if @video %>
    <hr class="v-space medium">

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2">
        <%= render_cell :flowplayer, :show, video: @video, player: {autoplay: true} %>
      </div>
    </div>
  <% end %>

  <hr class="v-space medium">

  <% if current_user %>
    <%= link_to t('make_new.button'), new_recording_path, class: "btn btn-lg btn-success" %>
  <% else %>
    <%= link_to t('make_new.have_to_login'), new_auth_path(back: new_recording_path), class: "btn btn-lg btn-success" %>
  <% end %>

  <hr class="v-space small">

  <div class="col-sm-8 col-sm-offset-2">
    <h3><%= t('make_new.price_html') %></h3>

    <p>
      <%= t('make_new.subtitle') %>
    </p>
  </div>

  <hr class="v-space small">

  <h3><%= t('make_new.what_you_get.title')%></h3>

  <ul class="list-unstyled">
    <li><%= t('make_new.what_you_get.one_html')%></li>
    <li class="tilda">~</li>
    <li><%= t('make_new.what_you_get.two_html')%></li>
    <li class="tilda">~</li>
    <li><%= t('make_new.what_you_get.three_html')%></li>
    <li class="tilda">~</li>
    <li><%= t('make_new.what_you_get.four_html')%></li>
    <li class="tilda">~</li>
    <li><%= t('make_new.what_you_get.five_html')%></li>
    <li class="tilda">~</li>
    <li><%= t('make_new.what_you_get.six_html')%></li>
  </ul>
</div>
