<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello there,<p>
    <p>great thing happend and your time-lapse from camera <strong><%= @recording.name %></strong> is finally ready.<p>
    <p>Choose the best video for you. We have created 4 time-lapses that differs in length. Pick the one you like the most:<p>
    <p><strong><%= recording_url(@recording) %></strong><p>
    <br>
    <p>Enjoy your time-lapse,<p>
    <p>
      Timelapse App team at 6artisans.com<br>
      timelapse@6artisans.com
    <p>
  </body>
</html>