Hello there,

great thing happend and your time-lapse from camera <%= @recording.name %> is finally ready.

Choose the best video for you. We have created 4 time-lapses that differs in length. Pick the one you like the most:

<%= recording_url(@recording) %>


Enjoy your time-lapse,

--
Timelapse App team at 6artisans.com
timelapse@6artisans.com