/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require lib/pickadate/default
 *= require lib/pickadate/default.date
 *= require lib/flowplayer/minimalist
 *= require custom_bootstrap/custom_bootstrap
 *= require font-awesome
 */

//////////////////////////////////
// Toto nám umožní používat v našem application.less proměnné z bootstrapu
@import "twitter/bootstrap/variables.less";
@import "custom_bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";
@import "custom_bootstrap/mixins.less";

// Custom variables
@recording-bg: rgb(242,242,242);
@recording-image-height: 150px;
@recording-image-width: 200px;
@separator-vertical-margin:50px;


body {
  padding-bottom: 100px;
}

.home-page-video {
  margin:20px 0 10px;
}

#recording-form {
  margin-top:20px;
}

.recording-form_box {
  background-color: @recording-bg;
  border: 1px solid @recording-bg; // TODO. když tam nedam border, tak se neaplikují marginy/paddingy
  margin-bottom:30px;
}

.time-input {
  width:153px!important;
}

.field_with_errors {
  display:inline;
}

.tilda {
  line-height:1em;
  font-size:1.25em;
}

.date-time-field .input-hour {
  margin-left:15px!important;
}

.input-hour, .input-minute {
  text-align:center;
  width:45px !important;
}

.select-ampm {
  width:60px !important;
}

.input-hour, .input-minute, .select-ampm {
  display:inline;
}

.error-messages {
  line-height:1.6em;
  text-align:left;
}

// Vertikální oddělovač.
// Použít v kombinaci s HR elementem
.v-space {
  display:block;
  width:100%;
  margin:0;
  clear:both;

  border:none;
  background:none;

  // .v-space.small
  &.small {
    height:10px;
  }

  // .v-space.medium
  &.medium {
    height:25px;
  }

  // .v-space.large
  &.large {
    height:50px;
  }
}

/* Recordings */
.recording {
  padding-left:0;
  padding-right:0;
  background-color:@recording-bg;

  &__name, &__date, &__filter {
    color:black;
  }

  & + .recording {
    margin-top:20px;
  }

  &:hover {
    background-color:darken(@recording-bg, 3%);
  }

  &__description {
    float:left;
    margin-left:@recording-image-width;
    height:@recording-image-height;
    position:relative;
    padding-left:15px;
    padding-right:15px;
  }

  &__duration {
    font-size:0.6em;
    color:@gray-light;
  }

  &__image {
    position:relative;
    height:@recording-image-height;
    width:@recording-image-width;
    background-color:darken(@recording-bg,15%);
    background-position:center center;
    background-repeat:no-repeat;
  }

  &__image-round {
    position:absolute;
    top:50%;
    left:50%;

    width:60px;
    height:60px;

    margin-left:-30px;
    margin-top:-30px;

    background-color:rgba(0,0,0,0.5);
    // background-color:rgba(51,51,51,0.6);

    border-radius:50%;
  }

  &__image-icon {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-12px;
    margin-top:-14px;

    font-size:30px;
    line-height:30px;

    color:@brand-danger;

    &--error {
      color:#FF0000;
      margin-left:-14px;
    }

    &--generating {
      margin-left:-16px;
    }

    &--preparing {
      color:@brand-info;
    }

    &--done {
      margin-left:-8px;
      color:@brand-success;
    }
  }

  &__state {
    position:absolute;
    left:15px;
    bottom:10px;
  }

  &__date--light {
    color:@gray-light;
  }

  &__timezone {
    margin-left:5px;
    color:#777;
  }

  &__state {
    color:@brand-success;

    &--error {
      color:#FF0000;
    }

    &--before_start {
      color:@brand-info;
    }

    &--recording, &--generating {
      color:@brand-danger;
    }
  }

  &-checkout {
    &__back {
      line-height:45px;
    }
  }
}

/* Flowplayer */

/* Zneviditelneni embed tlačítka na přehrávači */

.flowplayer {
  // .flowplayer .fp-embed
  & .fp-embed {
    display:none!important;
  }

  // .flowplayer.no-length .fp-duration
  &.no-length .fp-duration {
    display:none!important;
  }

  // .flowplayer.no-length .fp-timeline
  &.no-length .fp-timeline {
    margin-right:5px!important;
  }

  &.is-help .video-params, // .flowplayer.is-help .video-params
  &.is-playing .video-params { // .flowplayer.is-playing .video-params
    display:none;
  }
}

.video-params {
  width:100%;
  position:absolute;
  bottom:60px;
  z-index:100;
  color:white;
  font-weight:bold;

  // .video-params__inner
  &__inner {
    width:220px;
    margin:0 auto;
  }

  // .video-params__title
  &__title {
    display:inline-block;
    font-size:1.8em;
    margin-bottom:5px;
    padding:4px 6px;
    background-color:rgba(51,51,51,0.6);
  }

  // .video-params__subtitle
  &ubtitle {
    text-align:left;
    padding:2px 4px;
    background-color:rgba(51,51,51,0.6);
  }
}

// Vertikální separátor s textem
.separator {
  position:relative;
  margin-top:@separator-vertical-margin;
  margin-bottom:@separator-vertical-margin;

  &__inner {
    position:absolute;
    width:100%;
    top:-14px;
    text-align:center;
  }

  &__text {
    display:inline-block;
    background-color:white;
    font-size:1.2em;
    padding:0 15px;
  }
}


.icon-stop {
  font-size:1.2em;
}

.video-choose {
  position:absolute;
  left:10px;
  top:10px;

  width:40px!important;
  z-index:100;
}

.video-choose .btn {
  padding:0 10px;
}

.video-choose .btn {
  border-radius:10px;
}


// Formulář pro vytváření nahrávky
.recording-form {
  .pickadate {
    background-color:white!important;
    cursor:pointer!important;
  }

  &__inputs-group, &__filter-label {
    padding-left:0;
  }

  &__time-inputs {
    width:166px;
    float:left;
  }

  &__picker-input {
    width:230px;
    float:left;
    padding-right:15px;
  }

  &__filter-label-to {
    width:64px;
    padding-right:15px;
    float:left;
  }

  &__timezone-select {
    width:396px;
    float:left;
  }

  &__error-label {
    white-space:nowrap;
  }

  &__timezone-text-row {
    line-height:35px;
  }
}

.navbar-brand-text {
  padding-left:10px;
}

.navbar-brand-image {
  margin-top:-6px;
  display:inline-block!important;
}


.brand-label-beta {
  position: relative;
  display: inline-block;
  background-color: rgb(174, 6, 6);
  color: white;
  padding: 0 5px;
  line-height: 16px;
  font-size: 12px;
  top: -8px;
  left: 4px;
}
