<div class="recording__date">
  <%= @start_at %> - <%= @stop_at %>
  <span title="<%= @timezone_title %>"class="recording__timezone"><%= @timezone %></span>
</div>
<% if @show_filter %>
<div class="recording__filter">
  Between <%= @filter_from %> and <%= @filter_to %>
</div>
<% end %>