<!DOCTYPE html>
<html>
<head>
  <title>Tlapse</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= favicon_link_tag "favicon.ico" %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "logo.png", class: "navbar-brand-image" %>
          <span class="navbar-brand-text">
            Timelapse App
            <span class="brand-label-beta">BETA</span>
          <span>
        <% end %>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to current_user.email, root_path %></li>
            <li><%= link_to(fa_icon("sign-out", text: "Close app", right: true), logout_auth_path) %></li>
          <% else %>
            <li><%= link_to(fa_icon("sign-in", text: "Log-In", right: true), new_auth_path) %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>

  <%= render partial: "shared/live_agent" %>
  <%= render partial: "shared/ga" %>
</body>
</html>
